*{
    padding:0;
    margin:0;
}
.header{
   background-color:#121212;
   
   
}
a{
    text-decoration: none;
}
.container{
    background-color: #121212;
    overflow: hidden;
    
}
.ul{
    display:flex;
    list-style: none;
    text-decoration: none;
    
   }
   .li{
    padding: 30px ;
    color: white;
    font-family:"Nunito Sans";
    font-size: 20px;
    text-decoration: none;
}
    .img4{
        margin-top: 10px;
        margin-left: 20px;
    }
    .footer{
        background-color: white;
        
    }
    .h5{
        color: #002C92;
        font-family: "Nunito Sans","Anuphan";
        font-size: 20px;
        margin-left: 10px;
    }
    .facebook{
        justify-content: center;
        align-items: center;
        display: flex;
     }
     .p3{
        
        margin-left: 10px;
       }
       .copyright{
        display:flex;
        
       }